body {
    background-color: #2f3448;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    color: #282D40;
    font-family: Source Code Pro, monospace;
    font-size: 8vh;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    transition: all ease-in 0.15s;
    color: #575f80;
}